.login-container-fgp {
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.login-title-fgp {
    font-size: 28px;
    font-weight: 600;
    color: #305D72;
    margin-bottom: 50px;
    text-align: center;
}

.login-form-fgp {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-input-fgp {
    width: 100%;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background-color: #f1f3f6;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-button-fgp {
    width: 60%;
    padding: 15px;
    background-color: #8ac640;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 15px;
    margin-bottom: 100px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-button-fgp:hover {
    background-color: #7fa523;
}
.back-to-login-fgp {
    background: none;
    color: #305D72;
    cursor: pointer;
    margin-top: 30px;
    border: none;
    outline: none;
    display: block;
}
