.new-password-container-nps {
    text-align: center;
}

.new-password-container-nps h1 {
    font-size: 28px;
    font-weight: 600;
    color: #305D72;
    margin-bottom: 25px;
}

.input-password-nps {
    margin: 10px 0;
    width: 100%;
    padding: 15px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background-color: #f1f3f6;
    font-size: 16px;
}

.button-submit-nps {
    width: 60%;
    padding: 15px;
    background-color: #8ac640;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button-submit-nps:hover {
    background-color: #7fa523;
}

/* Success message */
